{# maqola.html #}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Portfolio of Sobirjon</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if request.user.is_authenticated %}
        {% include 'login_header.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}

    <div class="hero">
        <div class="hero-content">
            <img src="{% static 'IMG_.jpg' %}" alt="Profile Picture" class="profile-pic">
            <h1>Sobirjon Abdumajidov</h1>
            <p>Software Engineer</p>
            <div class="addition-info">
                <a class="icon-svg" target="_blank" href="https://t.me/fikrboy"><img class="icon-svg" src="{% static 'telegram.svg' %}"></a>
                <a class="icon-svg" target="_blank" href="https://www.linkedin.com/in/sobirjon-abdumajidov-632659270/"><img class="icon-svg" src="{% static 'linkedin.svg' %}"></a>
                <a class="icon-svg" target="_blank" href="https://www.instagram.com/sobirjon_a05/"><img class="icon-svg" src="{% static 'instagram.svg' %}"></a>
                <a class="icon-svg" target="_blank" href="https://github.com/sobirjonabdumajid"><img class="icon-svg" src="{% static 'github.svg' %}"></a>
            </div>
        </div>
    </div>
    <div class="skills-container">
        <div class="skill-category">
            <h2 class="category-title">Hard Skills</h2>
            <p class="skill-item">HTML, CSS</p>
{#            <p class="skill-item">PostgreSQL</p>#}
            <p class="skill-item">Python, Django, Fast API, PostgreSQL</p>
{#            <p class="skill-item">Flutter, Dart</p>#}
        </div>
        <div class="skill-category">
            <h2 class="category-title">Soft Skills</h2>
            <p class="skill-item">Team working</p>
            <p class="skill-item">Algorithms</p>
{#            <p class="skill-item">Adaptability</p>#}
{#            <p class="skill-item">Patience</p>#}
        </div>

    </div>

    <div class="about-container">
    <h1 class="about-title">About Me</h1>
    <div class="section-content">
        <p class="short-text">Assalamu Alaikum! I'm Sobirjon Abdumajidov, a dedicated and passionate student currently pursuing a degree in IT at PDP University. My academic journey has equipped me with a strong foundation in both theoretical and practical aspects of Python Backend...</p>
        <div class="more-text" style="display: none;">
            <p>Assalamu Alaikum! I'm Sobirjon Abdumajidov, a dedicated and passionate student currently pursuing a degree in IT at PDP University. My academic journey has equipped me with a strong foundation in both theoretical and practical aspects of Python Backend.</p>
            <p>Throughout my studies, I have developed a keen interest in Django, Flutter, and I am continuously expanding my knowledge and skills in these areas. I have taken on various projects and internships that have allowed me to apply what I have learned in real-world settings, enhancing my problem-solving abilities and technical expertise.</p>
            <p>In addition to my academic pursuits, I joined ERP team of amateurs, and I am actively involved in flutter internship, where I have had the opportunity to collaborate with peers, develop leadership skills, and contribute to meaningful initiatives. These experiences have not only enriched my university life but also prepared me for future challenges in the professional world.</p>
            <p>Looking forward, I aspire to set up my own business, where I can leverage my knowledge and skills to make a positive impact. I am excited about the endless possibilities that lie ahead and am committed to continuous learning and growth.</p>
            <p>Thank you for visiting my page, and I look forward to connecting with like-minded individuals and professionals.</p>
        </div>
        <button class="read-more-btn">Read more</button>
    </div>
</div>

    <!-- Certificates Section -->
    <h1 class="category">Certificates</h1>
    <div class="container" id="certificates">
        {% for certificate in certificates %}
            <div class="maqola" id="for_certificates">
                <img class="image_main" src="{{ certificate.imageURL }}">
                <a href="{% url 'article_details' certificate.id %}"><h2>{{ certificate.title }}</h2></a>
{#                <h4>{{ certificate.author }}</h4>#}
            </div>
        {% endfor %}
    </div>

    <!-- Projects Section -->
    <h1 class="category">Projects</h1>
    <div class="container" id="projects">
        {% for project in projects %}
            <div class="maqola" id="for_projects">
                <img class="image_main" src="{{ project.imageURL }}">
                <a href="{% url 'article_details' project.id %}"><h2>{{ project.title }}</h2></a>
{#                <h4>{{ project.author }}</h4>#}
            </div>
        {% endfor %}
    </div>
    <!-- Education Section -->
    <h1 class="category">Education</h1>
    <div class="container" id="education">
        {% for edc in education %}
            <div class="maqola" id="for_education">
                <img class="image_main" src="{{ edc.imageURL }}">
                <a href="{% url 'article_details' edc.id %}"><h2>{{ edc.title }}</h2></a>
{#                <h4>{{ edc.author }}</h4>#}
            </div>
        {% endfor %}
    </div>
    {% include 'footer.html' %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const readMoreBtn = document.querySelector(".read-more-btn");
    const moreText = document.querySelector(".more-text");
    const shortText = document.querySelector(".short-text");

    readMoreBtn.addEventListener("click", function() {
        if (moreText.style.display === "none") {
            moreText.style.display = "block";
            shortText.style.display = "none";
            readMoreBtn.textContent = "Read less";
        } else {
            moreText.style.display = "none";
            shortText.style.display = "block";
            readMoreBtn.textContent = "Read more";
        }
    });
});

</script>

</body>
</html>
