<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if request.user.is_authenticated %}
        {% include 'login_header.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}

    <div class="hero">
        <div class="hero-content">
            <img src="{% static 'IMG_.jpg' %}" alt="Profile Picture" class="profile-pic">
            <h1>Sobirjon Abdumajidov</h1>
            <p>Software Engineer</p>
            <div class="addition-info">
                <a class="icon-svg" target="_blank" href="https://t.me/fikrboy"><img class="icon-svg" src="{% static 'telegram.svg' %}"></a>
                <a class="icon-svg" target="_blank" href="https://www.linkedin.com/in/sobirjon-abdumajidov-632659270/"><img class="icon-svg" src="{% static 'linkedin.svg' %}"></a>
                <a class="icon-svg" target="_blank" href="https://www.instagram.com/sobirjon_a05/"><img class="icon-svg" src="{% static 'instagram.svg' %}"></a>
                <a class="icon-svg" target="_blank" href="https://github.com/sobirjonabdumajid"><img class="icon-svg" src="{% static 'github.svg' %}"></a>
            </div>
        </div>
    </div>
    <h1 class="category">Projects</h1>

{#    <form method="get">#}
{#        {{ filterset.form.as_p }}#}
{#        <button type="submit">Search</button>#}
{#    </form>#}

    <div class="container" id="projects">
        {% for project in filterset.qs %}
            <div class="maqola" id="for_projects">
                <img class="image_main" src="{{ project.imageURL }}">
                <a href="{% url 'article_details' project.id %}"><h2>{{ project.title }}</h2></a>
            </div>
        {% endfor %}
    </div>
{% include 'footer.html' %}
</body>
</html>
