<footer class="footer">
    <div class="footer-info">
        <p class="info-text">© 2024 Sobirjon Abdumajidov. All rights reserved.</p>
    <p class="info-text">Email: re.fire761@gmail.com | Phone: +998 99 259-23-71</p>
    <p class="info-text">Made with ❤️ for showcasing my projects and skills</p>
    </div>
    <div class="footer-social">
        <a href="https://github.com/sobirjonabdumajid" class="social-link">GitHub</a>
        <a href="https://t.me/fikrboy" class="social-link">Telegram</a>
        <a href="https://www.linkedin.com/in/sobirjon-abdumajidov-632659270/" class="social-link">LinkedIn</a>
        <a href="https://www.instagram.com/sobirjon_a05/" class="social-link">Instagram</a>
    </div>
</footer>
