
<div class="navbar">
    <div class="navbar-wrapper">
        <div class="logo"><a href="{% url 'home' %}">Re Fire</a></div>
        <div class="nav-links">
            <div class="dropdown">
                <a href="#" class="dropbtn">Click</a>
                <div class="dropdown-content">
                    <a class="drop_down" href="{% url 'certificates' %}">Certificates</a>
                    <a class="drop_down" href="{% url 'projects' %}">Projects</a>
                    <a class="drop_down" href="{% url 'education' %}">Education</a>
                </div>
            </div>
            <a class="navA"  href="{% url 'home' %}">Home</a>
            <a class="navA" href="{% url 'login' %}">Login</a>
            <a class="navA" href="{% url 'register' %}">Register</a>
        </div>
    </div>
</div>